@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
$global-margin: 10px;

body {
	overflow: auto; /* Enables scrolling */
	scrollbar-width: none; /* For Firefox */
    font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
	width: 100%; /* Ensure body is full-width */
	margin: 0;   /* Reset margins if necessary */
	padding: 0;  /* Reset padding if necessary */
}

body .container {
	max-width: 120rem !important;
}
.book-page {
  padding: 2rem 0rem !important;
  flex-grow: 1;
  

}


.book-menu {
	flex: 0 0 25%;
	font-size: 1.2rem;
  
	.book-menu-content {
	  width: 25%;
	  padding: 2rem 1rem;
	  background: var(--body-background);
  
	}
  
	a,
	label {
	  color: inherit;
	  cursor: pointer;
	  word-wrap: break-word;
	}
  
	a.active {
	  color: var(--color-link);
	}
  
	input.toggle + label + ul {
	  display: none;
	}
  
	input.toggle:checked + label + ul {
	  display: block;
	}
  
	input.toggle + label::after {
	  content: "▸";
	}
  
	input.toggle:checked + label::after {
	  content: "▾";
	}
  }
  
  


body::-webkit-scrollbar {
	display: none !important; /* For Chrome, Safari, and Edge */
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  }
  

.event_button {
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
    border: 1px solid black;
    border-radius: 10%;
    font-size: 12px;
    padding: 2px 10px; /* Combine padding for simplicity */
    box-shadow: 1px 1px black;
    line-height: 1; /* Prevent any line-height inheritance issues */
}

figure.event_icon{
	height: 12px;
	width: 12px;
	margin: 0px;	
	display: block;
}

.event_button.community {
    background-color: #4caf50 !important;
}

.event_button.agra {
    background-color: #ff9800 !important;
}

.event_button.rca {
    background-color: #f44336 !important;
}

.event_date  {
	vertical-align: middle; /* Align with adjacent inline elements like .event_button */
	display:inline;
	padding: 2px;
	margin:0px;
	margin-left:auto;
	font-size:12px;
	line-height:1;
}



.event_icon_container {
	display:inline-flex;
	align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally if needed */
	vertical-align: middle; /* Align with adjacent inline elements like .event_button */
    line-height: 1; /* Prevent any line-height inheritance issues */
	font-size:12px;
	box-shadow: 1px 1px black;
	background-color:#eaea97;
	
	border:1px solid black; 
	border-radius:10%;
	
	padding: 2px; /* Reset padding */
    
    margin: 0; /* Reset margins */
	margin-left:3px;   
}

figure.continuar {
	float:right;
	width:12%; /*15px*/
	display:block;
	margin:0px;
	margin-right:5%;
}

div.ticket {
	display:inline-flex;
	align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally if needed */
	vertical-align: middle; /* Align with adjacent inline elements like .event_button */
    line-height: 1; /* Prevent any line-height inheritance issues */
	font-size:12px;
	box-shadow: 1px 1px black;
	background-color:#eaea97;
	border:1px solid black; 
	border-radius:10%;
	padding: 2px; /* Reset padding */
    margin: 0; /* Reset margins */
	margin-left:3px; 
	margin-right:20px;   

}




.coluna_eventos {
	position:absolute;
	width:33.3%;
}

.container_evento {
	width:100%;
	display:block;
	flex-direction: column;
	transition: transform 0.3s ease-in-out;
}
.container_evento:hover {
	transform: scale(0.95);
}



/* If you want to allow scrolling but hide the scrollbar */
body {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  display: none !important; /* For Chrome, Safari, and Edge */
}

* {
  scrollbar-width: none; /* For Firefox */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.book-menu-content {
	border-left: 1px solid #d3d3d3;
}

/* Generic components */
h1.page-title {
	margin-left: 5px;
	font-weight: 500;
	font-size:48px;
}

/* Galery containers */
.custom-image{
	display: block;
	position: relative;
	margin:0px;
	transform: translate(0, 0);
	float: left;
	border-top: $global-margin white solid;
	border-left: $global-margin white solid;
	border-bottom: 0px white solid;
	border-right: 0px white solid;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.custom-image-right{
	display: block;
	position: relative;
	margin:0px;
	transform: translate(0, 0);
	float: left;
	border-top:$global-margin white solid;
	border-left: $global-margin white solid;
	border-bottom: 0px white solid;
	border-right: $global-margin white solid;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figure.custom-image {
  margin: 0; /* Override any inherited margin */
  line-height: 0;
  width:100%;
}
.custom-container {
	width: 33%;
	float: left;
	display: block;
	position: relative;
	margin: 0px;
}






.prog_image {
	width:98%;
	left:1%;
	position:absolute;
	top:10px;
	display: block;
	position: relative;
	margin: 0px;
}

figure.prog_image {
	margin:0px;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px; /* Optional: adjust the gap between images */
    width: 100%;
}

.custom-container2 {
    position: relative;
    margin: 0;
}

.custom-image2 {
    max-width: 100%;  /* Ensures image scales to fit its container */
    height: auto;     /* Maintains the aspect ratio of the image */
    display: block;   /* Ensures image is displayed as a block-level element (no spacing below) */
}
