<!-- Button and Input Fields -->
<h1>My todos</h1>
<button id="addTodo">+ new</button>
<ul id="todoList"></ul>
<div>
    Try creating a new todo.
    <br>
    <a href="https://docs.amplify.aws/javascript/start/quickstart/">
    Review next step of this tutorial.
    </a>
</div>  
<script>

document.addEventListener("DOMContentLoaded", function () {
    const todos = [];
    const todoList = document.getElementById("todoList");
    const addTodoButton = document.getElementById("addTodo");
    addTodoButton.addEventListener("click", createTodo);
    function updateUI() {
        todoList.innerHTML = '';
        todos.forEach(todo => {
            const li = document.createElement('li');
            li.textContent = todo.content ?? '';
            todoList.appendChild(li);
        });
    }

    function createTodo() {
      console.log('createTodo');
      const content = window.prompt("Todo content");
      if (content) {
          client.models.Todo.create({ content }).then(response => {
              if (response.data && !response.errors) {
                  todos.push(response.data);
                  updateUI();
              } else {
                  console.error('Error creating todo:', response.errors);
                  alert('Failed to create todo.');
              }
          }).catch(error => {
              console.error('Network or other error:', error);
              alert('Failed to create todo due to a network or other error.');
          });
      }
  }


    client.models.Todo.observeQuery().subscribe({
        next: (data) => {
            todos.splice(0, todos.length, ...data.items);
            updateUI();
        }
    });
});
</script>
<style>
    
</style>
